.logo{
    height: 50px;
}
.dropdown-item {
    font-family: john;
    font-size: 12px;
}
.butn1 {
    font-family: john;
    height: 45px;
    width: 50px;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
  }
  .flag{
    height: 45px;
    width: 50px;
    border-radius: 7px;
    border: none;
  }
  .butn-img{
    height: 25px;
  }
  .butn3 {
    font-family: john;
    background-color: #cd2c22;
    color: white;
    height: 45px;
    width: 190px;
    border: none;
    border-radius: 7px;
    margin-left: 20px;
  }
  .banner-div {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../src/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 78px;
  }
  .bg-text {
    color: white;
    font-size: 40px;
    font-family: john2;
    font-weight: 100;
    text-align: center;
    display: block;
    padding-top: 170px;
    margin-bottom: -2px;
  }
  .underline {
    width: 200px;
    height: 150px;
    border: solid 5px #cd2c22;
    border-color: white transparent transparent transparent;
    border-radius: 70%/20px 10px 0 0;
    margin-left: 785px;
    margin-bottom: -130px;
 }
  
.bg-caption {
    color: white;
    font-size: 18px;
    font-family: john;
    text-align: center;
}
.form-div {
  margin-top: 50px;
  height: 25vh;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  
}
.fd-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rd-1 {
  margin-right: 5px;
}
.form-inp1 {
  margin-left: 10px;
  height: 25px;
  font-size: 14px;
  border: 1px solid rgb(199, 190, 190);
  border-radius: 5px;
}
.fd-2 {
  width: 100%;
}
.form-inp2 {
  height: 65px;
  width: 23%;
  border: 1px solid rgb(199, 190, 190);
  border-radius: 5px;
}
.form-inp3 {
  height: 65px;
  width: 18%;
  border: 1px solid rgb(199, 190, 190);
  border-radius: 5px;
}
.butn4{
  height: 65px;
  width: 16%;
  background-color: #cd2c22;
  color: white;
  border: none;
  border-radius: 5px;
}
.icon{
  margin-left: 8px;
}
